[submodule "ConstructorEngine/lib/glm"]
	path = ConstructorEngine/lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "ConstructorEngine/lib/glfw"]
	path = ConstructorEngine/lib/glfw
	url = https://github.com/glfw/glfw.git
